*{margin:0px;
padding: 0px;}

.nav-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:98%;
    margin: auto;
    padding: 10px 0px;
}
.nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}
.nav-1 .icon-1{
   font-size: 30px;
   margin-right: 30px;
}
.nav-1-a{
    display: flex;
}
.nav-1-a img{
    margin-right: 15px;
}
.nav-1-a h3{
    color: #219EBC;
    font-weight: 700;
    margin-bottom: 0px;
}

/* --------------------------------- */
.nav-2-a{
    display: flex;
    align-items: center;
    background-color: #F5F9FA;
    padding: 5px ;
    border-radius:5px ;
    
}
.nav-2-a input{
  border: none;
  outline: none;
  background-color: #F5F9FA;
  margin: 0px 8px;
  width: 250px;
   
}
.nav-2-a input::placeholder{
    font-size: 14px;
}

/* -------------------------------------- */

.nav-3{
    display: flex;
    align-items: center;
    margin-left: auto;

}
.nav-3 .icon-2{
     margin: 0px 20px;
}
.nav-3 .icon-1{
    color: black;
}
.profile img{
    width: 45px;
    margin-right: 4px;
}

/* dropdown4 /Profile*/
.menu-trigger4 {
    /* position: absolute; */
    overflow: hidden;
    cursor: pointer;
  }
.Drop4 {
    position: absolute;
    top: 10.3%;
    left: 77.4%;
    background:#FFFFFF;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 280px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    /* width: fit-content; */
  }
  
  .Drop4.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  
  }
  
  .Drop4.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }
  
  /* .Drop4 ul li {
    padding: 10px 20px;
  } */
  
  .Drop4 .profile-info:hover {
   
    cursor: pointer;
    transition: 1000ms ease;
  }
  
  /* .Drop4 ul li:hover img {
    opacity: 1;
    cursor: pointer;
  } */

  .profile-info{
    padding: 35px 0px ;
  }
  .profile-img{
    position: relative;
   text-align: center;

  }
  .profile-img img{
    width: 77px;
  }
  .cam{
    position: absolute;
    left: 125px;
    top: 50px;
    color: #848484;
    font-size: 17px;
    background-color: #F5F9FA;
    margin: 3px;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 25%);
   
    
  }
  .profile-mail{
    margin: 30px 0px;
    text-align: center;
  }
  .profile-mail p{
    color: rgba(0, 0, 0, 0.5);
  }
  .profile-btn{
    margin: 30px 0px;
  }
  .profile-btn button{
    padding: 6px 34px;
    font-size: 15px;
    border-radius: 30px;
    outline: none;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .profile-btn-2 {
    display: block;
    margin: auto;
    width: fit-content;

  }
  .profile-btn-2 button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 64px;
    border-radius: 30px;
    outline: none;
    background: #F5F9FA;
    border: none;
  }
  .profile-btn-2 p{
    margin-left: 15px;
  }