.home-2-b .icon-3 {
    font-size: 22px;
    margin-right: 5px;
    color: #2BAC76;
}
/* --------------- */
/* dropdown */

.Dropdown3{
  padding-bottom: 2.5px;
}
.menu-trigger3 {
    /* position: absolute; */
    overflow: hidden;
    cursor: pointer;
  }

.Drop3 {
    position: absolute;
    top: 7.6rem;
    left: 54.6rem;
    background: #ffff;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 200px;
    z-index: 999;
    /* width: fit-content; */
  }
  
  .Drop3.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  
  }
  
  .Drop3.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }
  
  /* .Drop3 ul li {
    padding: 10px 20px;
  } */
  
  .Drop3 ul li:hover {
    background: #F5F9FA;
    cursor: pointer;
    transition: 1000ms ease;
  }
  
  .Drop3 ul li:hover img {
    opacity: 1;
    cursor: pointer;
  }