.home{
    display: flex;
}
@font-face{
    src: url(../src/Assets/Fonts/Gilroy/Gilroy-Bold.ttf);
    font-family: "Gilroy-Bold";
    font-family: "Gilroy-Medium";
    font-family: "Gilroy-Regular";
}
